<suite name="Noon App Automation for Android" >

	<test name="Product Details Test" allow-return-values="true">
		<classes>
			<class name="com.noon.mobileapp.ProductTest" />
		</classes>
	</test>

	<!--<test name="Address Test" allow-return-values="true">-->
		<!--<classes>-->
			<!--<class name="com.noon.mobileapp.AddressTest" />-->
		<!--</classes>-->
	<!--</test>-->

    <test name="Menu Test" allow-return-values="true">
        <classes>
            <class name="com.noon.mobileapp.SideBarMenuTest" />
        </classes>
    </test>

	<test name="Search Test" allow-return-values="true">
		<classes>
			<class name="com.noon.mobileapp.SearchTest" />
		</classes>
	</test>

	<test name="Cart Test" allow-return-values="true">
		<classes>
			<class name="com.noon.mobileapp.CartTest" />
		</classes>
	</test>

	<test name="Checkout Test" allow-return-values="true">
		<classes>
			<class name="com.noon.mobileapp.CheckoutTest" />
		</classes>
	</test>

	<test name="Signin Email Test" allow-return-values="true">
		<classes>
			<class name="com.noon.mobileapp.SigninEmailTest" />
		</classes>
	</test>

    <test name="Signin Mobile Test" allow-return-values="true">
        <classes>
            <class name="com.noon.mobileapp.SigninMobileTest" />
        </classes>
    </test>

	<test name="Categories Test" allow-return-values="true">
		<classes>
			<class name="com.noon.mobileapp.CategoriesTest" />
		</classes>
	</test>

</suite>

